{% extends "template.html" %}
{% block conteudo %}
   <div class="container col-11 col-md-9" id="form-container">
        <div class="row gx-5">

    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th></th>

            </tr>
        </thead>

        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario._id }}</td>
                <td>{{ usuario._nome }}</td>
                <td>{{ usuario._senha}}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

          <div class="col-12" id="link-container">
            <a id="botao_cadastro" class="btn btn-primary" href="{{url_for('registro')}}">
                <h9>CADATRAR NOVO USUARIO</h9>
            </a>
          </div>

    </div>

{%endblock %}